#stage {
    background: white;
    width: 480px;
    height: 320px;
    position: relative;
    border: 2px solid black;
}


#article-image {
    position: absolute;
    display: block;
    margin-top:2px;
    margin-left: 70px;
    margin-right: auto;
    width: 66%;
}

.article-image-tense-overlay {
    display:block;
    position:absolute;
    top: 250px;
    margin-left: 10px;
}

.layer-0 {
    z-index: 0;
}
.layer-1 {
    z-index: 1;
}
.layer-2 {
    z-index: 2;
}
.layer-3 {
    z-index: 2;
}

canvas {
    position: absolute;
}

input[type=checkbox] {
    width:30px;
    height:30px;
}

button {
    width:50%;
    height:50px;
    margin-left: 0px;
    margin-right: 0px; float: left;
}

button.full_button {
    display: block;
    width: 96%;
    height: 80px;
    font-size: 22px;
}

.toolbar-item{
    display: inline;
}

.footer {
    display: block;
    position: fixed;
    bottom: 20px;
    width: 100%;
}

